<ul>
  {{#each model as |post|}}
    <li>{{post.title}}</li>
    <button {{action 'destroyPost' post}}>Delete</button>
    <!-- {{update-post post=post update="update"}} -->
  {{/each}}
</ul>


{{new-post save="save"}}
