
  {{new-post save="save"}}

    {{#each model as |post|}}
    <div class="post-tile">
      {{post-tile post=post}}
    </div>
    <div class="admin-buttons">
      <button {{action 'destroyPost' post}} class="btn btn-danger">Delete</button>
      {{update-post post=post update="update"}}
    </div>
    {{/each}}
