<div class="comment-content">
  <div class="comment-header">
    <h2>{{model.author}}</h2>
    <h3>{{model.date}}</h3>
    <hr>
    <p>{{model.text}}</p>
  </div>
</div>

{{update-comment comment=model update="update"}}
